<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptiCrew - Welcome!</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        {{!This will add the final logo}}
        <img class="logo" src="/img/logo.png">
        <h1>Welcome to Opticrew!</h1>
    </header>
        <nav>
            
        </nav>
<main>
    
{{{body}}}

</main>

<footer>
 <p>&copy; 2023 OptiCrew. All rights reserved.</p>
</footer>

</body>
</html>