<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptiCrew - Welcome!</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header class="mainHeader">
        {{!This will add the final logo}}
        <a href="/"><img class="navbarLogo" src="/img/OptiCrewColor.svg"></a>

        <nav>
           <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="menu">
        <li><a href="/employee">Management</a></li>
        <li><a href="/about-us">About OptiCrew</a></li>
        <li><a href="/perks">Perks</a></li>
        <li><a href="/signup">Signup</a></li>
        {{#if logged_in}}
        <a href="/profile">profile</a>
        <li><a href="/logout" id="logout">Logout</a></li>
        {{else}}
        <li><a href="/login" id="login">Login</a></li>
        {{/if}}
        
      </ul> 
        </nav>

    </header>

<main>
    
{{{body}}}

</main>

<footer>
 <p>&copy; 2023 OptiCrew. All rights reserved.</p>
</footer>

{{#if logged_in}}
<script src="js/logout.js"></script>
{{/if}}
<script src="./js/header.js"></script>
</body>
</html>