<div class="employeeBackground">
    <div class="employeeContainer">
        <h1>WELCOME, {{name}}</h1>


        <div class="appCont">
            <div class="icon">
                <img src="/img/icons/search.png" alt="Icon 1">
                <button id="searchEmployeeBtn">SEARCH EMPLOYEE</button>
            </div>
            <div class="icon">
                <img src="/img/icons/division.png" alt="Icon 2">
                <button id="appBtn">SEE ALL EMPLOYEES</button>
            </div>
            <div class="icon">
                <img src="/img/icons/employee.png" alt="Icon 2">
                <button id="addEmployeeBtn">ADD EMPLOYEE</button>
            </div>
            <div class="icon">
                <img src="/img/icons/medical-history.png" alt="Icon 3">
                <button>INCIDENCES</button>
            </div>
        </div>

        <!-- This is where your table will be inserted -->

    </div>
</div>

<script src="./js/employee.js"></script>