<header>
    <img src="/img/logo.png" class="background-logo">
    <h1>Welcome to OptiCrew!</h1>
    <p>Optimizing your Human Resource Potential</p>
  </header>
  
  <section class="features backImg">
    <h2>Key Features</h2>
    <ul>
      <li>Easy to use interface</li>
      <li>Smooth</li>
      <li>Fast</li>
    </ul>
  </section>

  <a>About Us</a>
  
  <section class="cta">
    <h2>Sign up now!</h2>
    <p>Get started now for Free!</p>

    <form>
    <button>Sign up</button> 
    <p>OR</p>
    <a href="/login">Login</a>
    </form>
    
  </section>