<p>Welcome back: USERNAME</p>

<p>PLEASE CHOOSE WHAT YOU WANT TO DO</p>

<div class="iconSection">
    <div class="iconContainer">
        <a><img src="/img/icons/sunbed.png" height="25px" width="25px"></a>
        <p>Vacations</p>
    </div>

    <div class="iconContainer">
        <a><img src="/img/icons/medical-history.png" height="25px" width="25px"></a>
        <p>Sick leave</p>
    </div>

        <div class="iconContainer">
        <a><img src="/img/icons/division.png" height="25px" width="25px"></a>
        <p>Check all employees</p>
    </div>

</div>