<p>this will be the remove employee section</p>
<div class="searchBackground">
    <div class="searchEmpContainer">
    <h1>Need to remove an Employee?</h1>
    <p>We're sorry to hear that an Employee will no longer be part of your organization. Use this search bar to retrieve employee data</p>

        <div class="searchContainer">
        <input type="text" id="searchInput" placeholder="Search employee by ID or name">
        <button id="searchButton">Search</button>
        <button id="deleteButton" disabled>Delete</button>
        <div id="searchResults"></div>
        </div>
    </div>
</div>

<script src="./js/employeeDelete.js"></script>