<div class="searchBackground">
    <div class="searchEmpContainer">
    <h1>Welcome to search Employee</h1>
    <p>You can search for an Employee using First and Last Name or their Employee ID</p>

        <div class="searchContainer">
        <input type="text" id="searchInput" placeholder="Search employee by ID or name">
        <button id="searchButton">Search</button>
        <div id="searchResults"></div>
        </div>
    </div>
</div>

<script src="./js/employee.js"></script>