:root {
  --blue: #0099FF;
  --gray: #D3DBDD;
  --black: black;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Monserrat, sans-serif;
    background: #34495e;
  }

  /* Styles for the login section */
  .login-box {
    /* position: absolute; 
    top: 50%;
    left: 50%;
    width: 400px;*/
    padding: 40px;
    /* transform: translate(-50%, -50%); */
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #0099FF;
    font-size: 12px;
  }
  
  .login-box button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #0099FF;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .sign-in {
    color: #fff;
  }
  
  .sign-in a {
    color: #0099FF;
  }
  
  .sign-up {
    color: #fff;
  }

/*Styles for the index homepage*/

.mainHeadline {
  font-family: 'Bebas Neue', 'Monserrat', 'Lucida Sans';
  position: relative;
  font-size: 5rem;
  color:var(--gray);
  -webkit-text-stroke: .5px var(--black);
  white-space: nowrap;
  margin: 0;
}

.mainHeadline::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left:0;
  width: 0;
  height:100%;
  color: var(--black);
  -webkit-text-stroke: 0vw rgb(73, 73, 73);
  border-right: 2px solid var(--gray);
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
0%,10%,100%
{
  width:0;
}
70%,90%
{
  width: 100%;
}
}

  /* Styles for the body of the homepage*/
  .backImg {
    background-image: url(/img/employee-database.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    opacity: .9;
  }

.backBox {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* .backBox p {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #777;
  text-align: center;
  background: linear-gradient(45deg, var(--black), var(--gray));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
} */

.firstSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 46px;
    text-align: center;
    border-color: var(--black);
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    background-image: url(/img/cover1.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    opacity: .9;
  }

  /* .firstSection h1 {
    font-size: 3rem;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Bebas Neue', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  animation: neon 1.5s ease-in-out infinite alternate;
  } */

.navbarLogo {
    align-items: flex-start;
    height: 85px;
    width: auto;
    padding: 5px;

}

/* HAMBURGER STYLES */

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, var(--blue), var(--black));
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  font-size: xx-large;
  font-family: 'Bebas Neue', 'Lucida', 'Sans Serif';
  color: var(--gray);
  padding: 1rem;
  display: block;
}

.navbar-links li a:hover {
  color: var(--blue);
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--gray);
  border-radius: 10px;
}

.hamburgerIcon {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.hidden {
  display:none
}

.hamburgerLine {
  width: 25px;
  height: 3px;
  background-color: var(--gray);
  margin: 5px 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.anchorBtn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: var(--blue);
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.anchorBtn:hover {
  background-color: #0056b3;
}

.anchorBtn:focus {
  outline: none;
}

.anchorBtn:active {
  background-color: #004080;
}

  .features {
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
  }

    
  .cta {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
  }

  
  
  form {
    margin-top: 20px;
  }
  
  input[type="email"] {
    padding: 10px;
    width: 300px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0099FF;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

.iconContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  background-color: #0a582a;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  margin-right: 10px;
}

.iconContainer a {
  background-color: var(--blue);
  border-radius: 40px;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}

/* Style for the Employee route */

.employeeBackground {
  display: flex;
  background-image: url(/img/employee-database.jpg);
    background-size: cover;
    background-position: center;
    height: 850px;
    opacity: .9;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logBackground {
  display: flex;
  background-image: url(/img/cover1.jpg);
    background-size: cover;
    background-position: center;
    height: 850px;
    opacity: .9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpBackground {
  display: flex;
  background-image: url(/img/employee-database.jpg);
    background-size: cover;
    background-position: center;
    height: 850px;
    opacity: .9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addEmployeeBackground {
  display: flex;
  background-image: url(/img/employee-database.jpg);
    background-size: cover;
    background-position: center;
    opacity: .9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employeeContainer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.appCont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon img {
  width: 80px;
  height: 80px;
}

.icon p {
  margin-top: 10px;
  font-size: 14px;
  color: #b81717;
}

.form-grid {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 2em;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  /* max-width: 800px; */
  min-width: 600px;
  margin: 2em auto;
}

.form-grid label {
  font-weight: bold;
  color: #333;
}

.form-grid input,
.form-grid select,
.form-grid textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-grid input[type="radio"] {
  width: auto;
}

.form-grid button {
  padding: 0.5em 1em;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-grid button:hover {
  background-color: #0056b3;
}


/*MEDIA QUERIES TO MAKE THE DESIGN RESPONSIVE*/

@media screen and (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .form-grid {
    min-width: 380px;
    padding: 1em;
    font-size: small;
  }
}

/* ENSURES MAIN PAGE ANIMATION TO RENDER PROPERLY ON SMALLER SCREENS */
@media screen and (max-width: 500px) {
  .mainHeadline{
    font-size: 45px;
  }
}